<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <context:property-placeholder location="classpath:application.properties" />

    <hdp:configuration>
        fs.defaultFS=${fs.default.name}
    </hdp:configuration>

    <hdp:job id="wordCountJob"
             input-path="${in.path}"
             output-path="${out.path}"
             mapper="com.agileanswers.wordcount.WordMapper"
             reducer="com.agileanswers.wordcount.SumReducer"/>

    <hdp:job-runner id="myjob" run-at-startup="true" job-ref="wordCountJob" verbose="true"/>

    <!--<hdp:job-runner id="myjob-runner" pre-action="cleanup-script" post-action="export-results" job="myjob" run-at-startup="true"/>-->


    <!--<bean class="org.springframework.data.hadoop.mapreduce.JobRunner">-->
        <!--<property name="jobs">-->
            <!--<list>-->
                <!--&lt;!&ndash; Configures the reference to the actual Hadoop job. &ndash;&gt;-->
                <!--<ref bean="wordCountJob"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>